a{
    text-decoration : none;
}
.navbar .container .container2 ul li a.activate {
    color: black;
    text-decoration: none;
    font-size: 30px;

}
.bg-gradient-primary-to-secondary {
    background-color: #0061f0 !important;
}