

a{
    text-decoration : none;
}

.activate, .lnks:hover {
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 3px;
    border-radius: 10px;
}
.bg-gradient-primary-to-secondary {
    background-color: #0061f0 !important;
}