body{
  margin: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}
.navigation{
  display: flex;
  flex-direction: row;
}
nav{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 16px 32px;
  list-style-type: none;
}
nav a {
  margin-right: 16px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  
}
nav a.active{
  font-weight: bold;
}
nav a:hover{
  font-weight: bold;
}
.chart{
  width: 600px;
  height: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 50px;
  row-gap: 50px;
}
.grid-item:nth-child(1){
  width: 600px;
}
.grid-item:nth-child(2){
  width: 600px;
}
.grid-item:nth-child(3){
  width: 600px;
}
.grid-item:nth-child(4){
  width: 600px;
}
table{
  border-collapse: separate;
  height: 50%;
  width: 72%;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-spacing: 10px;
  margin: auto;
}
table td,
table th {
  text-align: left;
  border-collapse: collapse;

}
table td + td,
table th + th
{
    text-align:right;
}
tr.border-bottom td, th{
  border-bottom: 1pt solid rgb(189 189 189);
}
tbody tr:last-child > td{
  border: none;
}