<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f91cdd86-f643-4837-ad80-281b8a61309a" Alias="Contact Formulier - Email - Email address" Level="1">
  <Info>
    <Name>Contact Formulier - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>