<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33b63354-b2ca-4295-9861-1165f67f6390" Alias="[MULTICHECKBOXLIST] Category List" Level="1">
  <Info>
    <Name>[MULTICHECKBOXLIST] Category List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "News"
    },
    {
      "id": 2,
      "value": "Events"
    },
    {
      "id": 3,
      "value": "Blogs"
    },
    {
      "id": 4,
      "value": "Products"
    }
  ]
}]]></Config>
</DataType>