<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="863676a4-3576-4299-8993-bc7b9f319ea9" Alias="aboutPage" Level="1">
  <Info>
    <Name>AboutPage</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="b4001f3c-ac90-4b5c-b069-c75e539e0951">navigation</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0a0c70a1-3bf2-4a95-ad11-510eaf09c73d">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5c6861b5-09ee-4c39-bf2a-e6790b01f14b" SortOrder="0">ourTeam</ContentType>
    <ContentType Key="4d11ae4d-71f6-4d62-94be-77edbacfa222" SortOrder="1">subscriptions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a1df9883-529f-4f7e-b0d1-5ddf68e0f095</Key>
      <Name>Image1</Name>
      <Alias>image1</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0971f71a-eb2d-4450-9357-b8be9e041ee4</Key>
      <Name>Image2</Name>
      <Alias>image2</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05a231eb-9945-4c9b-a168-677109406955</Key>
      <Name>Image3</Name>
      <Alias>image3</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e4c2f631-bc66-46dd-bf36-ac88f2a16a12</Key>
      <Caption>Media</Caption>
      <Alias>media</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>