<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfbcd34a-25ed-4c67-8b6d-9830598cf5f0" Alias="blogHome" Level="1">
  <Info>
    <Name>BlogHome</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6922fbb-349c-4703-a0b4-6f84de4636f5">blogItems</Composition>
      <Composition Key="5bb4feec-8922-4166-8090-c3fdbcfebc83">categories</Composition>
      <Composition Key="b4001f3c-ac90-4b5c-b069-c75e539e0951">navigation</Composition>
      <Composition Key="f78ab7d2-81e6-4e39-b25a-352af52321a0">titleBox</Composition>
    </Compositions>
    <DefaultTemplate>BlogHome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23bf57de-b5e0-42df-b8a5-f8df11c03682">BlogHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="330af1fd-e666-4fbb-a802-a5c762983183" SortOrder="0">blogItem</ContentType>
    <ContentType Key="00bd3bb8-1e02-4e73-8fe6-9e4bd1fdc5c5" SortOrder="1">companyBlog</ContentType>
    <ContentType Key="4d11ae4d-71f6-4d62-94be-77edbacfa222" SortOrder="2">subscriptions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2dc32759-64f9-4204-b346-148fb2b05e40</Key>
      <Name>Featured Story</Name>
      <Alias>featuredStory</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b62376d2-f1cc-4558-afa9-729249cc43f4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>