<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00bd3bb8-1e02-4e73-8fe6-9e4bd1fdc5c5" Alias="companyBlog" Level="1">
  <Info>
    <Name>Company Blog</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f6922fbb-349c-4703-a0b4-6f84de4636f5">blogItems</Composition>
      <Composition Key="f78ab7d2-81e6-4e39-b25a-352af52321a0">titleBox</Composition>
    </Compositions>
    <DefaultTemplate>CompanyBlog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4098a92-da9f-41f2-be23-c7941f73a7b4">CompanyBlog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>