<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cca88edb-12e6-4779-8e35-fcd6727b4106" Alias="companyBlogComposition" Level="2">
  <Info>
    <Name>CompanyBlogComposition</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Only selected blogs will be showed</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>57cadcf5-6272-4aca-af24-ca07ba97146b</Key>
      <Name>Add To Company Blog</Name>
      <Alias>addToCompanyBlog</Alias>
      <Definition>b1458aff-13be-4c93-913a-5f7a568620db</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="companyBlogsSetting">Company Blogs Setting</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1620f4f9-9d13-409a-b3b0-b2084d9ffc50</Key>
      <Caption>Company Blogs Setting</Caption>
      <Alias>companyBlogsSetting</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>