<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43649b48-ecce-427c-9c52-1f3378271ea6" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8538247d-1da8-4188-91e5-358115caf43d">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>