<?xml version="1.0" encoding="utf-8"?>
<Media Key="d34755e6-b14c-478e-8f3a-30c765a3899f" Alias="Chang (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chang1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-21T11:22:46</CreateDate>
    <NodeName Default="Chang (1)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2bkfpu0m/chang.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>