<?xml version="1.0" encoding="utf-8"?>
<Media Key="7251e606-aa19-403d-b30d-cdbf3487f0fd" Alias="Dulcie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dulcie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T17:03:01</CreateDate>
    <NodeName Default="Dulcie" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/adtfc2qz/dulcie.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>