<?xml version="1.0" encoding="utf-8"?>
<Media Key="f54724cb-2899-4ce3-9479-212b23b41391" Alias="Hassan" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Hassan</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-07T13:26:50</CreateDate>
    <NodeName Default="Hassan" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zusep3mz/hassan.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>