<?xml version="1.0" encoding="utf-8"?>
<Media Key="a03a7588-d765-4163-afee-3fc19dd98829" Alias="Iphones Img" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IphonesImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T11:48:28</CreateDate>
    <NodeName Default="Iphones Img" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rz0dvidf/iphones-img.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>