<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c4f9a3c-dd73-404b-abba-0f692ded8666" Alias="Java For Backend" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JavaForBackend</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-07T15:32:58</CreateDate>
    <NodeName Default="Java For Backend" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkne4pdt/java-for-backend.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>