<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ceb6a57-f4ea-45c2-8732-7fbed9fc9a59" Alias="Meta" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Meta</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T11:51:16</CreateDate>
    <NodeName Default="Meta" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfvowxhk/meta.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>