<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6638635-48d9-4662-ba16-532cfb2310e3" Alias="Pakata Goh Gt1oiaxje A Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PakataGohGt1oiaxjeAUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T16:05:25</CreateDate>
    <NodeName Default="Pakata Goh Gt1oiaxje A Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/godgh3wz/pakata-goh-gt1oiaxje_a-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>