<?xml version="1.0" encoding="utf-8"?>
<Media Key="556155c5-4470-4e5c-a2de-d7dfee7a6025" Alias="Pixel (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pixel1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-07T16:17:17</CreateDate>
    <NodeName Default="Pixel (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ynkhcvlq/pixel.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>