<?xml version="1.0" encoding="utf-8"?>
<Media Key="59daacd0-6631-4600-9923-a10935bd4927" Alias="Programming Languages Shutterstock 1680857539" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProgrammingLanguagesShutterstock1680857539</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T13:50:40</CreateDate>
    <NodeName Default="Programming Languages Shutterstock 1680857539" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/00wnuwjr/programming-languages-shutterstock-1680857539.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>