<?xml version="1.0" encoding="utf-8"?>
<Media Key="1929ffba-f47f-4784-b1cb-455d3d55b644" Alias="Tony Fadell Is Trying To Build The Ipod Of Crypto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TonyFadellIsTryingToBuildTheIpodOfCrypto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-07T16:29:58</CreateDate>
    <NodeName Default="Tony Fadell Is Trying To Build The Ipod Of Crypto" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xt5dsgl5/tony-fadell-is-trying-to-build-the-ipod-of-crypto.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>