<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9568f63-036c-446a-bfc3-b8003867b35c" Alias="Twitter Archive Yellow Texture Angle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TwitterArchiveYellowTextureAngle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-23T11:42:15</CreateDate>
    <NodeName Default="Twitter Archive Yellow Texture Angle" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwhfnslm/twitter-archive-yellow-texture-angle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>