<?xml version="1.0" encoding="utf-8"?>
<Media Key="62d2011e-a599-4be2-a3d0-55a5e57d76f3" Alias="Wade (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wade1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-21T11:21:26</CreateDate>
    <NodeName Default="Wade (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/daaneyuz/wade.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>