<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d4e51c2-dac2-484b-9043-69a1b5e9cdb6" Alias="Wade" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wade</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T17:02:50</CreateDate>
    <NodeName Default="Wade" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yrif2doc/wade.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>