<?xml version="1.0" encoding="utf-8"?>
<Content Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8" Alias="About" Level="2">
  <Info>
    <Parent Key="58efab33-a235-4acd-ae21-8fae24fcc97e">Welcome</Parent>
    <Path>/Welcome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2022-11-18T16:44:03</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a0c70a1-3bf2-4a95-ad11-510eaf09c73d">AboutPage</Template>
  </Info>
  <Properties>
    <addToNav>
      <Value><![CDATA[1]]></Value>
    </addToNav>
    <image1>
      <Value><![CDATA[[
  {
    "key": "dd44b384-77c4-4336-b563-45dfe12dde42",
    "mediaKey": "ac80294b-ba95-469a-9bde-a40e771848a1"
  }
]]]></Value>
    </image1>
    <image2>
      <Value><![CDATA[[
  {
    "key": "2ab67b7a-461b-4920-bc70-5f405b854c08",
    "mediaKey": "3c4f9a3c-dd73-404b-abba-0f692ded8666"
  }
]]]></Value>
    </image2>
    <image3>
      <Value><![CDATA[[]]]></Value>
    </image3>
  </Properties>
</Content>