<?xml version="1.0" encoding="utf-8"?>
<Content Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8" Alias="About" Level="2">
  <Info>
    <Parent Key="58efab33-a235-4acd-ae21-8fae24fcc97e">Welcome</Parent>
    <Path>/Welcome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2022-11-18T16:44:03</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a0c70a1-3bf2-4a95-ad11-510eaf09c73d">AboutPage</Template>
  </Info>
  <Properties>
    <addToNav>
      <Value><![CDATA[1]]></Value>
    </addToNav>
    <image1>
      <Value><![CDATA[[
  {
    "key": "5cb7f0e6-a6f2-4946-b7fa-df1025eace86",
    "mediaKey": "f6638635-48d9-4662-ba16-532cfb2310e3"
  }
]]]></Value>
    </image1>
    <image2>
      <Value><![CDATA[[
  {
    "key": "d759192c-5430-4404-9343-d68dce6ce537",
    "mediaKey": "5d922126-972c-4bcb-b924-9df80165048a"
  }
]]]></Value>
    </image2>
    <image3>
      <Value><![CDATA[[
  {
    "key": "01a8fb52-f9d3-451c-b445-9c1a9ab756d4",
    "mediaKey": "754d721d-12cb-430d-8523-daa3d4120cf8"
  }
]]]></Value>
    </image3>
  </Properties>
</Content>