<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d9db464-5329-4096-98fd-95166af01c36" Alias="Blog" Level="2">
  <Info>
    <Parent Key="58efab33-a235-4acd-ae21-8fae24fcc97e">Welcome</Parent>
    <Path>/Welcome/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogHome</ContentType>
    <CreateDate>2022-11-23T11:01:07</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="23bf57de-b5e0-42df-b8a5-f8df11c03682">BlogHome</Template>
  </Info>
  <Properties>
    <addToNav>
      <Value><![CDATA[1]]></Value>
    </addToNav>
    <authorName>
      <Value><![CDATA[]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <featuredStory>
      <Value><![CDATA[]]></Value>
    </featuredStory>
    <introText>
      <Value><![CDATA[]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Find the latest and interesting news right away]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Blog]]></Value>
    </title>
  </Properties>
</Content>