<?xml version="1.0" encoding="utf-8"?>
<Content Key="c19d8e29-da43-47a2-80bb-8ed3e1c27594" Alias="Contact" Level="2">
  <Info>
    <Parent Key="58efab33-a235-4acd-ae21-8fae24fcc97e">Welcome</Parent>
    <Path>/Welcome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-11-23T09:46:15</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e86d6a49-6172-4f0b-aafa-372de8d49d23">ContactPage</Template>
  </Info>
  <Properties>
    <address1>
      <Value><![CDATA[Kol. Dusartplein 36.0.02]]></Value>
    </address1>
    <address2>
      <Value><![CDATA[3500 Hasselt]]></Value>
    </address2>
    <addToNav>
      <Value><![CDATA[1]]></Value>
    </addToNav>
    <telephoneNo>
      <Value><![CDATA[+32 11/37 37 57]]></Value>
    </telephoneNo>
  </Properties>
</Content>