<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0281fc8-b72c-4059-9150-9840227d207a" Alias="Founder &amp; CEO" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/FounderCEO</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:50:40</CreateDate>
    <NodeName Default="Founder &amp; CEO" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "8da0bce4-d5e6-44d9-9dc9-edbc14b3155d",
    "mediaKey": "a840182e-e9ab-49ec-aebb-cfdb176fb0ad"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Founder & CEO]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Wade Eckart]]></Value>
    </memberName>
  </Properties>
</Content>