<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0281fc8-b72c-4059-9150-9840227d207a" Alias="Founder &amp; CEO" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/FounderCEO</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:50:40</CreateDate>
    <NodeName Default="Founder &amp; CEO" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "2a4e717b-fe2e-4944-80bc-6860d105b837",
    "mediaKey": "0d4e51c2-dac2-484b-9043-69a1b5e9cdb6"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Founder & CEO]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Wade Eckart]]></Value>
    </memberName>
  </Properties>
</Content>