<?xml version="1.0" encoding="utf-8"?>
<Content Key="526cd690-2833-4acf-9651-1e390eef9cd1" Alias="Hassan Ali - 12/15/2022 9:55:42 PM" Level="3">
  <Info>
    <Parent Key="c19d8e29-da43-47a2-80bb-8ed3e1c27594">Contact</Parent>
    <Path>/Welcome/Contact/HassanAli1215202295542PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactFormulier</ContentType>
    <CreateDate>2022-12-15T21:55:42</CreateDate>
    <NodeName Default="Hassan Ali - 12/15/2022 9:55:42 PM" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3ce3365-7291-4b38-b2c5-8423c4be16d4">ContactFormulier</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[hassan.ali@student.pxl.be]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Hassan Ali]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[hi]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[465905909]]></Value>
    </phoneNumber>
  </Properties>
</Content>