<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9eefbc7-d555-49f4-9636-bb1ab4822d9b" Alias="Hassan Ali - 12/7/2022 11:53:59 AM" Level="3">
  <Info>
    <Parent Key="c19d8e29-da43-47a2-80bb-8ed3e1c27594">Contact</Parent>
    <Path>/Welcome/Contact/HassanAli1272022115359AM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactFormulier</ContentType>
    <CreateDate>2022-12-07T11:54:03</CreateDate>
    <NodeName Default="Hassan Ali - 12/7/2022 11:53:59 AM" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3ce3365-7291-4b38-b2c5-8423c4be16d4">ContactFormulier</Template>
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[hassan.be1997@gmail.com]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Hassan Ali]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[Hi, my name is hassan. ]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[465905789]]></Value>
    </phoneNumber>
  </Properties>
</Content>