<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa2256b4-838e-4c4e-8561-e5f323b09cd7" Alias="Netflix branches out into fitness content with upcoming launch of Nike Training Club classes" Level="3">
  <Info>
    <Parent Key="9d9db464-5329-4096-98fd-95166af01c36">Blog</Parent>
    <Path>/Welcome/Blog/NetflixBranchesOutIntoFitnessContentWithUpcomingLaunchOfNikeTrainingClubClasses</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2022-12-22T16:27:02</CreateDate>
    <NodeName Default="Netflix branches out into fitness content with upcoming launch of Nike Training Club classes" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9daf373d-da69-4296-8b93-4efee284ac17">BlogItem</Template>
  </Info>
  <Properties>
    <addArticlesToList>
      <Value><![CDATA[1]]></Value>
    </addArticlesToList>
    <authorName>
      <Value><![CDATA[Aisha Malik]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p id="speakable-summary">Netflix is officially branching out into fitness content, as the <a rel="noopener" href="https://www.netflix.com/tudum/articles/nike-training-club" target="_blank">company announced</a> today that it’s going to start streaming Nike Training Club classes next week. The streaming service will release a total of 30 hours of exercise sessions in two separate batches. The programs, which include workouts for all fitness levels, will be available in multiple languages on all Netflix plans.</p>
<p>The first batch of fitness classes will launch on December 30, with the second batch releasing in 2023. A total of 45 episodes will be part of the first batch, which will include the following classes: Kickstart Fitness with the Basics, Two Weeks to a Stronger Core, Fall in Love with Vinyasa Yoga, HIIT &amp; Strength with Tara, and Feel-Good Fitness. Once the classes are released, Netflix users will be able to search “Nike” to access them.</p>
<p>For those unfamiliar with the <a rel="noopener" href="https://www.nike.com/ntc-app" target="_blank">Nike Training Club app</a>, it offers a range of options for people of all fitness levels, including strength training, yoga and high-intensity workouts led by Nike’s certified trainers. Nike Training Club can in some ways be compared to Apple Fitness+ or Peloton.</p>
<div class="container__access-control"></div>
<p>“It’s not always easy to motivate yourself to exercise, but the option to feel the burn and then directly transition into one of your favorite shows does have a certain appeal,” the company wrote in a <a rel="noopener" href="https://www.netflix.com/tudum/articles/nike-training-club" target="_blank">blog post</a>. “And now, that’s exactly what you can do.”</p>
<p>This latest move from Netflix marks yet another way that the streaming service is branching out from its core business of TV shows and series. Over the past year, we saw the company delve into the world of gaming with the launch of <a href="https://techcrunch.com/2022/12/13/netflix-mobile-games-release-vikings-valhalla-game-next-year/">Netflix Games</a>. Now we’re seeing another departure from its core business as the streaming service begins testing the waters with fitness content.</p>
<p>The timing of the release likely isn’t a coincidence either, given that people around the world will soon make working out their New Year’s resolution. Considering that Netflix already has a significant user base, the streaming service may be able to entice people into trying out fitness content directly on the platform that they already regularly visit.</p>
<p>It’s worth noting that the launch won’t mark Netflix’s first foray into health-related content, as the streaming service launched <a rel="noopener" href="https://about.netflix.com/en/news/netflix-and-headspace-team-up-for-three-original-series" target="_blank">mindfulness and meditation content from Headspace</a> last year.</p>
<p> </p>
<p>Depending on how successful the launch is, Netflix may decide to add even more fitness content to its platform to compete with the likes of Apple Fitness+ and Peloton. Beyond that, the company may even decide to produce its own fitness content if it can get enough people to see it as a viable option when it comes to fitness.</p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[[
  "Blogs"
]]]></Value>
    </category>
    <introText>
      <Value><![CDATA[Netflix is officially branching out into fitness content, as the company announced today that it’s going to start streaming Nike Training Club classes next week. The streaming service will release a total of 30 hours of exercise sessions in two separate batches. The programs, which include workouts for all fitness levels, will be available in multiple languages on all Netflix plans.]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-12-21T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Netflix is officially branching out into fitness content, as the company announced today that it’s going to start streaming Nike Training Club classes next week. The streaming service will release a total of 30 hours of exercise sessions in two separate batches. The programs, which include workouts for all fitness levels, will be available in multiple languages on all Netflix plans.]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "815fc55d-f67d-46f7-9cb1-84939cb68637",
    "mediaKey": "30f9c3ab-1e24-4c9f-bb60-b3e8ebd1bef1"
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[Netflix branches out into fitness content with upcoming launch of Nike Training Club classes]]></Value>
    </title>
  </Properties>
</Content>