<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc329310-a6ce-499e-926b-8b2bd86ad2dc" Alias="Product Manager" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/ProductManager</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:51:46</CreateDate>
    <NodeName Default="Product Manager" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "56003ba4-0e1c-4d67-b65d-ee7ec2b67a62",
    "mediaKey": "7251e606-aa19-403d-b30d-cdbf3487f0fd"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Product Manager]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Dulcia Cilla]]></Value>
    </memberName>
  </Properties>
</Content>