<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc329310-a6ce-499e-926b-8b2bd86ad2dc" Alias="Product Manager" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/ProductManager</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:51:46</CreateDate>
    <NodeName Default="Product Manager" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "bf61bf9c-f94d-46b4-a4e1-f2e11b0ebf8b",
    "mediaKey": "62d2011e-a599-4be2-a3d0-55a5e57d76f3"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Product Manager]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Dulcia Cilla]]></Value>
    </memberName>
  </Properties>
</Content>