<?xml version="1.0" encoding="utf-8"?>
<Content Key="99758f46-aa09-4891-8df8-25616d086a8e" Alias="Programmer" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/Programmer</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:49:56</CreateDate>
    <NodeName Default="Programmer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "fc14ddd9-ee32-427c-b76b-7d92a42e37d2",
    "mediaKey": "754d721d-12cb-430d-8523-daa3d4120cf8"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Programmer]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Arden Vasek]]></Value>
    </memberName>
  </Properties>
</Content>