<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2fd9a10-9ad9-4549-a09f-38fb460e2a52" Alias="Programmer (1)" Level="3">
  <Info>
    <Parent Key="7050061e-46d5-43f9-b3c7-267cfc85d0a8">About</Parent>
    <Path>/Welcome/About/Programmer1</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2022-11-23T12:52:32</CreateDate>
    <NodeName Default="Programmer (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="256688e3-176b-47f8-953c-1e553be53a1a">OurTeam</Template>
  </Info>
  <Properties>
    <imageMember>
      <Value><![CDATA[[
  {
    "key": "0e4a9905-6dbe-489d-9fdd-1b8643c5a694",
    "mediaKey": "f54724cb-2899-4ce3-9479-212b23b41391"
  }
]]]></Value>
    </imageMember>
    <memberFunction>
      <Value><![CDATA[Programmer]]></Value>
    </memberFunction>
    <memberName>
      <Value><![CDATA[Hassan G]]></Value>
    </memberName>
  </Properties>
</Content>