<?xml version="1.0" encoding="utf-8"?>
<Content Key="b57516d0-b745-44a1-af9b-34032a58290b" Alias="The future of milk is … milk?" Level="3">
  <Info>
    <Parent Key="9d9db464-5329-4096-98fd-95166af01c36">Blog</Parent>
    <Path>/Welcome/Blog/TheFutureOfMilkIsMilk</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2022-12-22T16:31:47</CreateDate>
    <NodeName Default="The future of milk is … milk?" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9daf373d-da69-4296-8b93-4efee284ac17">BlogItem</Template>
  </Info>
  <Properties>
    <addArticlesToList>
      <Value><![CDATA[1]]></Value>
    </addArticlesToList>
    <authorName>
      <Value><![CDATA[Christine Hall]]></Value>
    </authorName>
    <bodyText>
      <Value><![CDATA[<p>Milk is polarizing:<span> To some, it’s a refreshing beverage that pairs well with cookies. For others, it’s a cursed liquid that causes tummy troubles. Even with the shelves of alt milks crowding grocery store coolers these days, the U.S. milk industry is a $15 billion category with 90% penetration, according to John Talbot, the CEO of the California Milk Advisory Board.</span></p>
<p>However, the industry is not known for sustainability or breakthrough creations. Milk processing plants focus on one thing — do it well and do it efficiently — but don’t do small runs or get involved in product development or innovation. It’s taken a while for the industry to realize that there’s a need for ingenuity, but it’s now embracing fresh ideas, Talbot said.</p>
<p>He believes some of that has to do with the fact that the milk category is declining for a number of reasons: Fewer children, the biggest milk drinkers, are being born, and more people are choosing faster breakfasts over sitting down for a bowl of cereal. That’s not to mention the aforementioned number of alt milks out there. But it’s not just dairy alternatives — water plays a big role in people’s drink choices, too, Talbot added.</p>
<p>Seeing a need for innovation, the California Milk Advisory Board turned to those who do it best: startups.</p>
<p>The organization has been hosting the Real California Milk Excelerator for the last four years to find interesting use cases for dairy and to connect entrepreneurs with processors so that there is engagement on both sides.</p>
<p>“We now rely on ideas coming in from these entrepreneurs to help processing plants through the innovation process,” Talbot added.</p>
<p> </p>]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[[
  "Products"
]]]></Value>
    </category>
    <introText>
      <Value><![CDATA[Milk is polarizing: To some, it’s a refreshing beverage that pairs well with cookies. For others, it’s a cursed liquid that causes tummy troubles. Even with the shelves of alt milks crowding grocery store coolers these days, the U.S. milk industry is a $15 billion category with 90% penetration, according to John Talbot, the CEO of the California Milk Advisory Board.]]></Value>
    </introText>
    <publishedOn>
      <Value><![CDATA[2022-12-22T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[Milk is polarizing: To some, it’s a refreshing beverage that pairs well with cookies. For others, it’s a cursed liquid that causes tummy troubles. Even with the shelves of alt milks crowding grocery store coolers these days, the U.S. milk industry is a $15 billion category with 90% penetration, according to John Talbot, the CEO of the California Milk Advisory Board.]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "260997f0-e1a3-4530-9662-6ab544bae0f3",
    "mediaKey": "5dc92d67-233f-4123-9d48-21cde834bf83"
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[The future of milk is … milk?]]></Value>
    </title>
  </Properties>
</Content>