<?xml version="1.0" encoding="utf-8"?>
<Content Key="58efab33-a235-4acd-ae21-8fae24fcc97e" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-11-18T13:48:56</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e14b520c-f6b0-41f0-ae9e-01be7080f09a">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p style="box-sizing: border-box; margin: 0px 0px 11px; color: #231f20; font-family: 'open sans', sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: left;">Vanaf de eerste dag is een <strong style="box-sizing: border-box; font-weight: bold;">online aanwezigheid</strong> absoluut noodzakelijk voor jouw bedrijf. De website is steeds een spiegel voor je bedrijf of campagne. Hier vormen klanten of partners hun eerste indruk. Je wilt ze ontvangen binnen het juiste concept, met de juiste vormgeving én ze precies de antwoorden geven die ze zoeken.</p>
<p style="box-sizing: border-box; margin: 0px 0px 11px; color: #231f20; font-family: 'open sans', sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: left;">Of het nu om je <strong style="box-sizing: border-box; font-weight: bold;">website, webshop, een Facebook-app, online game of mobiele applicatie</strong> gaat: user usability en experience dragen we hoog in het vaandel. Dankzij ons eigen ontwikkeld CMS-systeem beheer je je website eenvoudig zélf, al kan je bij vragen natuurlijk altijd bij ons terecht.</p>]]></Value>
    </bodyText>
    <contactInfo>
      <Value><![CDATA[<p><strong>E-mail:</strong>     <a href="mailto:hello@atyoursight.be">hello@atyoursight.be</a></p>
<p><strong>Telefoon:</strong> +32 11/37 37 57 <br /><strong>BTW:        </strong>BE 0466.585.638 RPR Hasselt</p>]]></Value>
    </contactInfo>
    <footerAddress>
      <Value><![CDATA[Kol. Dusartplein 36/0.02 3500 Hasselt, België]]></Value>
    </footerAddress>
    <footerText>
      <Value><![CDATA[Copyright © AtYourSight  2022]]></Value>
    </footerText>
    <headerMessage>
      <Value><![CDATA[]]></Value>
    </headerMessage>
    <homeImage>
      <Value><![CDATA[[
  {
    "key": "8fa35431-f7f3-423d-9f1b-e9b654def7a4",
    "mediaKey": "f34d427b-67f1-467e-99e7-f40e1fab0c9f"
  }
]]]></Value>
    </homeImage>
    <homeInfoTitle>
      <Value><![CDATA[This is home page.]]></Value>
    </homeInfoTitle>
    <learnMore>
      <Value><![CDATA[https://localhost:44388/about/]]></Value>
    </learnMore>
    <learnMoreContent>
      <Value><![CDATA[Learn More]]></Value>
    </learnMoreContent>
    <pageTitle>
      <Value><![CDATA[AtYourSight]]></Value>
    </pageTitle>
    <qoute>
      <Value><![CDATA["Working with Start Bootstrap templates has saved me tons of development time when building new projects! Starting with a Bootstrap template just makes things easier!"]]></Value>
    </qoute>
    <subscriptionText>
      <Value><![CDATA[For more information, subscribe to our website.]]></Value>
    </subscriptionText>
  </Properties>
</Content>